*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  font-size: $font-size--root;
}

body {
  min-height: 100%;
  margin: 0;
  font-size: $font-size--mobile;
  line-height: 1.6;
  font-family: $font-family;
  color: $text-color;
  background-color: #ffffff;
}

a {
  color: $link-color;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

svg,
svg * {
  fill: inherit;
  stroke: inherit;
}

input {
  background-color: transparent;
}

::-webkit-input-placeholder {
  opacity: $opacity-active;
}

@media (min-width: $tablet-width) {
  body {
    font-size: $font-size;
    line-height: 3rem;
  }
}
