*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100%;
  font-size: $font-size--root;
}

body {
  min-height: 100%;
  font-size: $font-size;
  line-height: 1.6;
  font-family: $font-family;
  color: $text-color;
  background-color: #ffffff;
}

a {
  color: $link-color;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
