// Цвета
$base-color:                #444444;

$background-color:          #f1f1f1;
$button-color:              #63d1bb;
$inputs-color:              #62d1bb;
$text-color:                $base-color;
$label-color:               $button-color;

$border-color:              #ececec;
$link-color:                #000000;

$font-family:               "Open Sans", "Arial", sans-serif;
$font-size--root:           10px;
$font-size:                 1.5rem;

$opacity-active:            0.3;
$opacity-hover:             0.6;
