.btn-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @include hiding-text;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }
}


@media (min-width: $tablet-width) {
  .btn-toggle {
    display: none;
  }
}
