.btn-toggle {
  position: absolute;
  top: 50%;
  right: 50px;
  display: block;
  width: 20px;
  height: 30px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translate(-50%, -50%);

  @include hiding-text;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }
}
