.btn-toggle {
  position: absolute;
  top: 23px;
  right: 26px;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 14px;

  @include hiding-text;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
    background-size: 21px 21px;
  }
}


@media (min-width: $tablet-width) {
  .btn-toggle {
    display: none;
  }
}
