.btn {
  display: block;
  padding: 14px;
  font: bold 1.8rem/1.1111 "OpenSans", Arial, sans-serif;
  text-align: center;
  color: $base-color;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  border: 2px solid $base-color;
}
