.email-link {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  transition: color .2s ease, opacity .2s ease;

  &::after {
    content: "";
    display: block;
    height: 1px;

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $inputs-color;
  }

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: $opacity-active;
  }
}
