.features {
  width: $mobile-container;
  margin: 0 auto 10px;
  color: #000000;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  padding-top: 55px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width){
  .features {
    width: $tablet-container;
    font-size: 2rem;
    line-height: 2.2rem;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 50%;
    padding-right: 40px;
    padding-bottom: 55px;
  }

  .features__item--style {
    order: 3;
  }

  .features__item--likes {
    order: 5;
  }

  .features__item--handmade {
    order: 2;
  }

  .features__item--domestic {
    order: 4;
  }

  .features__item--pack {
    order: 6;
  }


}

@media (min-width: $desktop-width){
  .features {
    width: $desktop-container;
    padding-left: 175px;
  }
}
