.featured-product {
  width: 320px;
  margin: 0 auto 30px;
  padding: 0 30px;
}

.featured-product__specification {
  margin: 0;
  padding-bottom: 30px;
  line-height: 1.3333;

  @include clearfix();
}

.featured-product__specification dt,
.featured-product__specification dd {
  float: left;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid $border-color;
}

.featured-product__specification dt {
  width: 37%;
}

.featured-product__specification dd {
  width: 63%;
}

.featured-product__price {
  font-size: 1.5rem;
}
