.field-textarea textarea {
  display: block;
  width: 100%;
  min-height: 142px;
  padding: 12px 16px;
  font: 1.7rem/1.8rem $font-family;
  border: 2px solid #000000;
  transition: border-color 0.2s ease;
  resize: vertical;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    border-color: $inputs-color;

    & + svg {
      opacity: 1;

      fill: $inputs-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .field-textarea {
    padding-top: 15px;
    padding-bottom: 15px;

    textarea {
      padding: 13px;
      font-size: 1.9rem;

    }
  }
}
