.field-checkbox {
  input {
    display: none;
  }

  label {
    position: relative;
    display: block;
    padding-top: 11px;
    padding-bottom: 32px;
    padding-left: 63px;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.8rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 40px;
      height: 39px;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    &::before {
      border: 2px solid $base-color;
    }

    &::after {
      display: none;
      background: url("../img/icon-tick.svg") no-repeat 50% 50%;
      background-size: 22px 16px;
    }

    &:hover::before {
      border-color: #61d1ba;
    }

    &:active::before {
      border-color: rgba(0, 0, 0, 0.3);
      transition-duration: 0;
    }
  }

  input:checked + label::after {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .field-checkbox {
    padding-top: 15px;
    padding-bottom: 15px;

    label {
      padding-top: 15px;
      padding-bottom: 18px;
      padding-left: 80px;
      font-size: 1.9rem;

      &::before,
      &::after {
        width: 53px;
        height: 52px;
      }

      &::after {
        background-size: 34px 30px;
      }
    }
  }
}
