.field-text {
  padding-bottom: 18px;

  label {
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  input {
    width: 100%;
    padding: 15px 0;
    font-size: 1.7rem;
    line-height: 1.8rem;
    color: $base-color;
    border: none;
    border-bottom: 2px solid #000000;
    transition: border-color 0.2s ease;

    &:hover,
    &:focus {
      border-bottom-color: $inputs-color;
    }
  }
}

@media (min-width: $tablet-width) {
  .field-text {
    display: flex;
    align-items: baseline;
    padding: 11px 0;
  }

  .field-text label {
    padding-right: 27px;
    font-size: 1.9rem;
  }

  .field-text input {
    width: 100%;
    padding: 13px 10px 16px 20px;
    font-size: 1.9rem;
  }
}
