.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  &--closed {
    display: none;
  }
}

.main-nav__item {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: left;
  border-top: 1px solid $border-color;

  &:nth-child(n+3) {
    display: none;
  }

  a {
    display: block;
    width: 320px;
    height: 100%;
    margin: 0 auto;
    padding: 26px 30px 28px 75px;

    &:hover {
      opacity: $opacity-hover;
    }

    &:active {
      opacity: $opacity-active;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    order: 3;
    width: 51%;
    border-top: 0;
  }

  .main-nav__item {
    margin-right: auto;
    font-size: 1.5rem;
    line-height: 2.4rem;
    border-top: 0;

    a {
      width: 100%;
      margin: 0;
      padding: 17px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    order: 1;
    width: 40%;
    height: 100%
  }

  .main-nav__item {
    height: 100%;
    margin-right: 0;
    font-size: 1.7rem;
    line-height: 2.4rem;
    border-right: 1px solid #ececec;

    &:first-child {
      width: 44.1%;
    }

    &:nth-child(2) {
      width: 55.9%;
    }

    a {
      padding: 30px 35px 27px;
    }

    &:first-child a {
      padding-left: 0;
    }

    &:nth-child(n+3) {
      display: block;
      height: auto;
      margin-right: 62px;
      font-size: 1.5rem;
      line-height: 2.4rem;
      border-right: 0;

      a {
        padding: 18px 0;
      }
    }
  }
}
