.page-header {
  position: relative;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 78px;
  margin: 0 auto;
  padding: 24px 5px 20px;

  &:hover {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }
}

@media (min-width: $tablet-width) {
  .page-header__container {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-container;
    height: 90px;
    margin: 0 auto;
  }

  .page-header__logo {
    flex-basis: 120px;
    order: 1;
    height: 88px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: $desktop-container;
  }

  .page-header__logo {
    flex-basis: 160px;
    order: 2;
    margin-left: auto;
    text-align: center;
  }
}
