.page-footer {
  background-color: $background-color;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  width: $mobile-container;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding: 20px 0;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $tablet-container;
    padding: 45px 0 51px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;

    svg {
      transition: fill 0.2s ease;
    }

    &:hover svg {
      fill: #46c1ae;
    }

    &:active {
      opacity: $opacity-active;
    }
  }

  .page-footer__social {
        padding: 7px 0 0 71px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: $desktop-container;
  }

}
