.page-intro {
  margin-bottom: 30px;
  background-color: $background-color;

  &--index {
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.page-intro__container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-container;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container;
  }
}

.page-intro__title {
  margin: 0 auto;
  padding: 75px 30px;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 3rem;
  text-align: center;
  color: #000000;
}

.page-intro--index .page-intro__title {
  padding-bottom: 120px;
}

.page-intro__note {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-intro__note {
    display: block;
    float: right;
    margin: 0;
    padding: 20px 0;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $text-color;
  }

  .page-intro__title {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 4.3rem;
    line-height: 5rem;
  }

  .page-intro--index  .page-intro__title {
    max-width: 750px;
    min-height: 625px;
    padding-top: 160px;
  }
}

@media (min-width: $desktop-width) {
  .page-intro__title {
    font-size: 5.3rem;
    line-height: 5.7rem;
  }
}
