

.reviews__container {
  width: $mobile-container;
  margin: 0 auto 50px;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: $tablet-width;
    padding: 75px 50px 50px;
    background: url("../img/review@1x.jpg") no-repeat 0 50%;
  }

  .reviews__slider {
    order: 3;
    width: 100%;
  }

  .reviews__btn {
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    width: 1050px;
    padding-left: 175px;
  }
}
