.review-item {
  margin: 0;
  padding: 0 0 29px;
  font-size: 1.5rem;
  line-height: 3rem;

  p {
    margin: 0 0 18px;
    padding: 0;
  }

  footer {
    padding-top: 9px;
  }
}

.review-item__auhor-name {
  display: block;
  padding-bottom: 3px;
  font: bold normal 1.8rem/2.4rem $font-family;
}

.review-item__author-link {
  font-size: 1.7rem;
  line-height: 3rem;
}

@media (min-width: $tablet-width) {
  .review-item {
    font-size: 1.7rem;
    padding-bottom: 0;

    footer {
      padding-top: 40px;
    }
  }

  .review-item__auhor-name {
    font-size: 1.7rem;
  }
}

@media (min-width: $desktop-width) {
  .review-item footer {
    padding-top: 21px;
  }
}
