.review-item {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 3rem;
}

.review-item__auhor-name {
  display: block;
  font: bold normal 1.8rem/1.3333 $font-family;
}

.review-item__author-link {
  font-size: 1.7rem;
  line-height: 3rem;
}
