.size-form__legend {
  padding-bottom: 25px;
}

.form-size__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.size-form__item {
  padding-bottom: 10px;

  input {
    display: none;
  }

  label {
    display: block;
    min-width: 82px;
    padding: 15px 30px;
    font: bold 1.7rem/1.7rem $font-family;
    text-align: center;
    border: 2px solid rgba(44, 44, 44, 0.1);
    transition: border-color 0.2s ease;

    &:hover {
      border-color: rgba(44, 44, 44, 0.3);
    }

    &:active {
      border-color: $inputs-color;
    }
  }

  input:checked + label {
    border-color: $inputs-color;
  }
}

.size-form__submit-btn {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .size-form__item label {
    min-width: 112px;
  }
}
