.size-form__legend {
  margin-bottom: 20px;
}

.size-form__item {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: middle;
}

.size-form__submit-btn {
  margin-right: auto;
  margin-left: auto;
}
