.slider__controls {
  @include clearfix();
}

.slider__btn {
  display: block;
  border: 1px solid $border-color;
  vertical-align: top;
  width: 50%;
  height: 52px;
  position: relative;

  @include hiding-text();

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 26px;
    margin-top: -13px;
    margin-left: -25px;
    transition: opacity .2s ease;
  }

  &:hover svg {
    opacity: $opacity-hover;
  }

  &:active svg {
    opacity: $opacity-active;
  }

  &--prev {
    border-right: none;
    float: left;
  }

  &--next {
    float: right;
  }
}

@media (min-width: $tablet-width) {
  .slider__item {
    width: 100%;
  }

  .slider__controls {
    float: right;
    margin-top: -55px;
  }

  .slider__btn {
    width: 87px;
    border: none;
  }
}
