.title {
  margin: 0 0 10px;
  padding: 0;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 4.3rem;
    line-height: 5rem;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 5.3rem;
    line-height: 5.7rem;
  }
}
