.user-items {
  margin: 0;
  padding: 0;
  list-style: none;

  &--closed {
    display: none;
  }
}

.user-items__item {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-align: left;
  border-top: 1px solid $border-color;
}

.user-items__link {
  position: relative;
  display: block;
  width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 26px 30px 28px 75px;


  &:hover {
    opacity: $opacity-hover;

    svg {
      opacity: 1;

      fill: $inputs-color;
    }
  }

  &:active {
    opacity: $opacity-active;

    svg {
      opacity: 1;

      fill: $inputs-color;
    }
  }
}

.user-items__icon-search,
.user-items__icon-cart {
  position: absolute;
  top: 50%;
  left: 10%;
  display: block;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.2;

  fill: #221f1f;
}

.user-items__icon-search {
  width: 17.6px;
  height: 17.6px;
}

.user-items__icon-cart {
  width: 20.294px;
  height: 18.849px;
}

@media (min-width: $tablet-width) {
  .user-items {
    display: flex;
    justify-content: flex-end;
    order: 2;
    height: 100%;
  }

  .user-items__item {
    border-top: 0;
    border-left: 1px solid $border-color;
  }

  .user-items__item--search {
    width: 82px;

    @include hiding-text();
  }

  .user-items__link {
    width: 100%;
    margin: 0;
    padding: 30px 0 27px;
  }

  .user-items__item--basket .user-items__link {
    padding-left: 83px;
  }

  .user-items__icon-cart {
    left: 32px;
  }

  .user-items__icon-search {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $desktop-width) {
  .user-items {
    width: 40%;
  }

  .user-items__item--basket .user-items__link {
    padding-left: 84px;
  }
}
