.video {
  position: relative;
  background: $background-color;
}

.video img {
  display: block;
  width: 100%;
  margin: auto 0;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100px;
  height: 76px;
  background: url("../img/icon-play.svg") no-repeat;
  background-size: cover;
  border: none;
  transition: transform 0.3s ease;
  transform: translate(-50%,-50%);

  &:hover {
    transform: translate(-50%,-50%) scale(1.2);
  }

  &:active {
    transition: transform 0.05s ease;
    transform:  translate(-50%,-50%) scale(0.8);
    opacity: $opacity-active;
  }
}

@media (min-width: $tablet-width) {
  .video__play {
    top: 51%;
  }
}

@media (min-width: $tablet-width) {
  .video__play {
    top: 50%;
    left: 51%;
  }
}
